<a href="https://colab.research.google.com/github/peteryoung0914/Getting-and-Cleaning-Data-Assignment/blob/master/global_ai_country_Zexu_Yang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

this code is to merge our data and total country list

In [ ]:
import pandas as pd

In [ ]:
data.columns=['country','advanced','min']

In [ ]:
data.head()

       country  advanced   min
0  Afghanistan       0.0   0.0
1      Albania       1.0   1.0
2      Andorra       2.0   2.0
3       Angola       1.0   2.0
4    Argentina      34.0  62.0

In [ ]:
full=pd.read_excel('/content/drive/MyDrive/global_ai/task2/Full-Country-List-Official.xlsx',header=None)
full.columns=['country']

In [ ]:
full.head()

          country
0     Afghanistan
1   Åland Islands
2         Albania
3         Algeria
4  American Samoa

In [ ]:
full['temp']='Advanced'
full['value']=0

In [ ]:
full.head()

          country      temp  value
0     Afghanistan  Advanced      0
1   Åland Islands  Advanced      0
2         Albania  Advanced      0
3         Algeria  Advanced      0
4  American Samoa  Advanced      0

In [ ]:
full1=full.copy()

In [ ]:
full1['temp']='Minimum'

In [ ]:
full1.head()

          country     temp  value
0     Afghanistan  Minimum      0
1   Åland Islands  Minimum      0
2         Albania  Minimum      0
3         Algeria  Minimum      0
4  American Samoa  Minimum      0

In [ ]:
full.head()

          country      temp  value
0     Afghanistan  Advanced      0
1   Åland Islands  Advanced      0
2         Albania  Advanced      0
3         Algeria  Advanced      0
4  American Samoa  Advanced      0

In [ ]:
res=pd.concat([full,full1])

In [ ]:
res.head()

          country      temp  value
0     Afghanistan  Advanced      0
1   Åland Islands  Advanced      0
2         Albania  Advanced      0
3         Algeria  Advanced      0
4  American Samoa  Advanced      0

In [ ]:
res=res.sort_values(['country','temp'])
res.rename({'temp':'type'},inplace=True,axis=1)

In [ ]:
res=res.reset_index()

In [ ]:
res.drop('index',axis=1,inplace=True)

In [ ]:
res.head()

       country      type  value
0  Afghanistan  Advanced      0
1  Afghanistan   Minimum      0
2      Albania  Advanced      0
3      Albania   Minimum      0
4      Algeria  Advanced      0

In [ ]:
res.to_csv('/content/drive/MyDrive/global_ai/task2/new_format_full_country.csv')

In [ ]:
ours=pd.read_excel('/content/drive/MyDrive/global_ai/task2/Our2-Country-ListwData-VERSION-B.xlsx')

In [ ]:
ours.head()

       Country  Advanced  Minimum
0  Afghanistan         0        0
1      Albania         0        1
2      Andorra         0        1
3       Angola         0        0
4    Argentina         3        7

In [ ]:
melt_our=pd.melt(ours,id_vars='Country',value_vars=['Advanced','Minimum'])
melt_our.head()

       Country  variable  value
0  Afghanistan  Advanced      0
1      Albania  Advanced      0
2      Andorra  Advanced      0
3       Angola  Advanced      0
4    Argentina  Advanced      3

In [ ]:
temp={}
for index,row in melt_our.iterrows():
  temp[(row[0],row[1])]=row[2]

In [ ]:
temp

{('Afghanistan', 'Advanced'): 0,
 ('Afghanistan', 'Minimum'): 0,
 ('Albania', 'Advanced'): 0,
 ('Albania', 'Minimum'): 1,
 ('Andorra', 'Advanced'): 0,
 ('Andorra', 'Minimum'): 1,
 ('Angola', 'Advanced'): 0,
 ('Angola', 'Minimum'): 0,
 ('Argentina', 'Advanced'): 3,
 ('Argentina', 'Minimum'): 7,
 ('Australia', 'Advanced'): 7,
 ('Australia', 'Minimum'): 27,
 ('Austria', 'Advanced'): 3,
 ('Austria', 'Minimum'): 16,
 ('Azerbaijan', 'Advanced'): 0,
 ('Azerbaijan', 'Minimum'): 0,
 ('Bahamas', 'Advanced'): 0,
 ('Bahamas', 'Minimum'): 0,
 ('Bangladesh', 'Advanced'): 0,
 ('Bangladesh', 'Minimum'): 1,
 ('Barbados', 'Advanced'): 0,
 ('Barbados', 'Minimum'): 0,
 ('Belgium', 'Advanced'): 1,
 ('Belgium', 'Minimum'): 6,
 ('Bermuda', 'Advanced'): 0,
 ('Bermuda', 'Minimum'): 0,
 ('Bolivia', 'Advanced'): 0,
 ('Bolivia', 'Minimum'): 0,
 ('Bolivia, Plurinational State of', 'Advanced'): 0,
 ('Bolivia, Plurinational State of', 'Minimum'): 0,
 ('Botswana', 'Advanced'): 0,
 ('Botswana', 'Minimum'): 0,
 ('Brazil', 'Advanced'): 3,
 ('Brazil', 'Minimum'): 26,
 ('Bulgaria', 'Advanced'): 0,
 ('Bulgaria', 'Minimum'): 0,
 ('Burkina Faso', 'Advanced'): 0,
 ('Burkina Faso', 'Minimum'): 0,
 ('Burundi', 'Advanced'): 0,
 ('Burundi', 'Minimum'): 0,
 ('Cambodia', 'Advanced'): 0,
 ('Cambodia', 'Minimum'): 0,
 ('Cameroon', 'Advanced'): 0,
 ('Cameroon', 'Minimum'): 0,
 ('Canada', 'Advanced'): 7,
 ('Canada', 'Minimum'): 32,
 ('Chile', 'Advanced'): 1,
 ('Chile', 'Minimum'): 9,
 ('China', 'Advanced'): 0,
 ('China', 'Minimum'): 7,
 ('Colombia', 'Advanced'): 1,
 ('Colombia', 'Minimum'): 13,
 ('Congo, Democratic Republic of', 'Advanced'): 0,
 ('Congo, Democratic Republic of', 'Minimum'): 0,
 ('Costa Rica', 'Advanced'): 1,
 ('Costa Rica', 'Minimum'): 2,
 ('Croatia', 'Advanced'): 0,
 ('Croatia', 'Minimum'): 2,
 ('Cyprus', 'Advanced'): 0,
 ('Cyprus', 'Minimum'): 1,
 ('Czech Republic', 'Advanced'): 0,
 ('Czech Republic', 'Minimum'): 2,
 ("CÃ´te d'Ivoire", 'Advanced'): 0,
 ("CÃ´te d'Ivoire", 'Minimum'): 1,
 ('Denmark', 'Advanced'): 1,
 ('Denmark', 'Minimum'): 8,
 ('Dominican Republic', 'Advanced'): 0,
 ('Dominican Republic', 'Minimum'): 0,
 ('Ecuador', 'Advanced'): 0,
 ('Ecuador', 'Minimum'): 1,
 ('Egypt', 'Advanced'): 0,
 ('Egypt', 'Minimum'): 4,
 ('El Salvador', 'Advanced'): 0,
 ('El Salvador', 'Minimum'): 0,
 ('Estonia', 'Advanced'): 0,
 ('Estonia', 'Minimum'): 0,
 ('Eswatini', 'Advanced'): 0,
 ('Eswatini', 'Minimum'): 0,
 ('Ethiopia', 'Advanced'): 0,
 ('Ethiopia', 'Minimum'): 0,
 ('Fiji', 'Advanced'): 0,
 ('Fiji', 'Minimum'): 0,
 ('Finland', 'Advanced'): 5,
 ('Finland', 'Minimum'): 31,
 ('France', 'Advanced'): 7,
 ('France', 'Minimum'): 30,
 ('Gambia', 'Advanced'): 0,
 ('Gambia', 'Minimum'): 0,
 ('Georgia', 'Advanced'): 0,
 ('Georgia', 'Minimum'): 0,
 ('Germany', 'Advanced'): 12,
 ('Germany', 'Minimum'): 78,
 ('Ghana', 'Advanced'): 0,
 ('Ghana', 'Minimum'): 0,
 ('Greece', 'Advanced'): 3,
 ('Greece', 'Minimum'): 9,
 ('Guatemala', 'Advanced'): 0,
 ('Guatemala', 'Minimum'): 0,
 ('Honduras', 'Advanced'): 0,
 ('Honduras', 'Minimum'): 0,
 ('Hong Kong', 'Advanced'): 5,
 ('Hong Kong', 'Minimum'): 56,
 ('Hungary', 'Advanced'): 0,
 ('Hungary', 'Minimum'): 2,
 ('Iceland', 'Advanced'): 0,
 ('Iceland', 'Minimum'): 1,
 ('India', 'Advanced'): 6,
 ('India', 'Minimum'): 22,
 ('Indonesia', 'Advanced'): 1,
 ('Indonesia', 'Minimum'): 18,
 ('Iran, Islamic Republic of', 'Advanced'): 0,
 ('Iran, Islamic Republic of', 'Minimum'): 0,
 ('Iraq', 'Advanced'): 0,
 ('Iraq', 'Minimum'): 0,
 ('Ireland', 'Advanced'): 2,
 ('Ireland', 'Minimum'): 3,
 ('Israel', 'Advanced'): 0,
 ('Israel', 'Minimum'): 3,
 ('Italy', 'Advanced'): 3,
 ('Italy', 'Minimum'): 24,
 ('Jamaica', 'Advanced'): 0,
 ('Jamaica', 'Minimum'): 0,
 ('Japan', 'Advanced'): 5,
 ('Japan', 'Minimum'): 26,
 ('Jersey', 'Advanced'): 1,
 ('Jersey', 'Minimum'): 1,
 ('Jordan', 'Advanced'): 0,
 ('Jordan', 'Minimum'): 0,
 ('Kazakhstan', 'Advanced'): 1,
 ('Kazakhstan', 'Minimum'): 1,
 ('Kenya', 'Advanced'): 0,
 ('Kenya', 'Minimum'): 0,
 ('Korea, Republic of', 'Advanced'): 3,
 ('Korea, Republic of', 'Minimum'): 32,
 ('Kyrgyzstan', 'Advanced'): 0,
 ('Kyrgyzstan', 'Minimum'): 1,
 ('Latvia', 'Advanced'): 0,
 ('Latvia', 'Minimum'): 2,
 ('Lebanon', 'Advanced'): 0,
 ('Lebanon', 'Minimum'): 1,
 ('Libya', 'Advanced'): 0,
 ('Libya', 'Minimum'): 0,
 ('Luxembourg', 'Advanced'): 0,
 ('Luxembourg', 'Minimum'): 1,
 ('Macao', 'Advanced'): 0,
 ('Macao', 'Minimum'): 1,
 ('Malawi', 'Advanced'): 0,
 ('Malawi', 'Minimum'): 0,
 ('Malaysia', 'Advanced'): 2,
 ('Malaysia', 'Minimum'): 18,
 ('Maldives', 'Advanced'): 0,
 ('Maldives', 'Minimum'): 0,
 ('Mali', 'Advanced'): 0,
 ('Mali', 'Minimum'): 0,
 ('Malta', 'Advanced'): 0,
 ('Malta', 'Minimum'): 0,
 ('Mauritius', 'Advanced'): 0,
 ('Mauritius', 'Minimum'): 1,
 ('Mexico', 'Advanced'): 3,
 ('Mexico', 'Minimum'): 10,
 ('Mongolia', 'Advanced'): 0,
 ('Mongolia', 'Minimum'): 1,
 ('Morocco', 'Advanced'): 1,
 ('Morocco', 'Minimum'): 1,
 ('Mozambique', 'Advanced'): 0,
 ('Mozambique', 'Minimum'): 0,
 ('Myanmar', 'Advanced'): 0,
 ('Myanmar', 'Minimum'): 0,
 ('Namibia', 'Advanced'): 0,
 ('Namibia', 'Minimum'): 0,
 ('Nepal', 'Advanced'): 0,
 ('Nepal', 'Minimum'): 0,
 ('Netherlands', 'Advanced'): 1,
 ('Netherlands', 'Minimum'): 7,
 ('New Zealand', 'Advanced'): 0,
 ('New Zealand', 'Minimum'): 4,
 ('Nicaragua', 'Advanced'): 0,
 ('Nicaragua', 'Minimum'): 0,
 ('Nigeria', 'Advanced'): 0,
 ('Nigeria', 'Minimum'): 2,
 ('North Macedonia', 'Advanced'): 0,
 ('North Macedonia', 'Minimum'): 0,
 ('Norway', 'Advanced'): 1,
 ('Norway', 'Minimum'): 18,
 ('Oman', 'Advanced'): 0,
 ('Oman', 'Minimum'): 2,
 ('Pakistan', 'Advanced'): 0,
 ('Pakistan', 'Minimum'): 1,
 ('Palestine, State of', 'Advanced'): 0,
 ('Palestine, State of', 'Minimum'): 0,
 ('Panama', 'Advanced'): 0,
 ('Panama', 'Minimum'): 0,
 ('Papua New Guinea', 'Advanced'): 0,
 ('Papua New Guinea', 'Minimum'): 0,
 ('Paraguay', 'Advanced'): 0,
 ('Paraguay', 'Minimum'): 0,
 ('Peru', 'Advanced'): 0,
 ('Peru', 'Minimum'): 5,
 ('Philippines', 'Advanced'): 3,
 ('Philippines', 'Minimum'): 9,
 ('Poland', 'Advanced'): 0,
 ('Poland', 'Minimum'): 6,
 ('Portugal', 'Advanced'): 1,
 ('Portugal', 'Minimum'): 6,
 ('Qatar', 'Advanced'): 1,
 ('Qatar', 'Minimum'): 2,
 ('Romania', 'Advanced'): 1,
 ('Romania', 'Minimum'): 6,
 ('Russian Federation', 'Advanced'): 6,
 ('Russian Federation', 'Minimum'): 32,
 ('Rwanda', 'Advanced'): 0,
 ('Rwanda', 'Minimum'): 0,
 ('Saudi Arabia', 'Advanced'): 0,
 ('Saudi Arabia', 'Minimum'): 1,
 ('Senegal', 'Advanced'): 0,
 ('Senegal', 'Minimum'): 0,
 ('Serbia', 'Advanced'): 0,
 ('Serbia', 'Minimum'): 0,
 ('Seychelles', 'Advanced'): 0,
 ('Seychelles', 'Minimum'): 0,
 ('Sierra Leone', 'Advanced'): 0,
 ('Sierra Leone', 'Minimum'): 0,
 ('Singapore', 'Advanced'): 3,
 ('Singapore', 'Minimum'): 44,
 ('Slovakia', 'Advanced'): 0,
 ('Slovakia', 'Minimum'): 0,
 ('Slovenia', 'Advanced'): 0,
 ('Slovenia', 'Minimum'): 4,
 ('Somalia', 'Advanced'): 0,
 ('Somalia', 'Minimum'): 0,
 ('South Africa', 'Advanced'): 6,
 ('South Africa', 'Minimum'): 40,
 ('South Sudan', 'Advanced'): 0,
 ('South Sudan', 'Minimum'): 0,
 ('Spain', 'Advanced'): 7,
 ('Spain', 'Minimum'): 27,
 ('Sri Lanka', 'Advanced'): 6,
 ('Sri Lanka', 'Minimum'): 15,
 ('Sweden', 'Advanced'): 6,
 ('Sweden', 'Minimum'): 33,
 ('Switzerland', 'Advanced'): 5,
 ('Switzerland', 'Minimum'): 33,
 ('Syrian Arab Republic', 'Advanced'): 0,
 ('Syrian Arab Republic', 'Minimum'): 0,
 ('Taiwan, Province of China', 'Advanced'): 8,
 ('Taiwan, Province of China', 'Minimum'): 44,
 ('Tanzania, United Republic of', 'Advanced'): 0,
 ('Tanzania, United Republic of', 'Minimum'): 0,
 ('Thailand', 'Advanced'): 12,
 ('Thailand', 'Minimum'): 27,
 ('Togo', 'Advanced'): 0,
 ('Togo', 'Minimum'): 0,
 ('Tunisia', 'Advanced'): 0,
 ('Tunisia', 'Minimum'): 0,
 ('Turkey', 'Advanced'): 2,
 ('Turkey', 'Minimum'): 11,
 ('Uganda', 'Advanced'): 1,
 ('Uganda', 'Minimum'): 1,
 ('Ukraine', 'Advanced'): 0,
 ('Ukraine', 'Minimum'): 1,
 ('United Arab Emirates', 'Advanced'): 1,
 ('United Arab Emirates', 'Minimum'): 10,
 ('United Kingdom', 'Advanced'): 5,
 ('United Kingdom', 'Minimum'): 44,
 ('United States', 'Advanced'): 32,
 ('United States', 'Minimum'): 168,
 ('Uruguay', 'Advanced'): 0,
 ('Uruguay', 'Minimum'): 1,
 ('Venezuela, Bolivarian Republic of', 'Advanced'): 0,
 ('Venezuela, Bolivarian Republic of', 'Minimum'): 0,
 ('Viet Nam', 'Advanced'): 3,
 ('Viet Nam', 'Minimum'): 11,
 ('Yemen', 'Advanced'): 0,
 ('Yemen', 'Minimum'): 0,
 ('Zambia', 'Advanced'): 0,
 ('Zambia', 'Minimum'): 0,
 ('Zimbabwe', 'Advanced'): 0,
 ('Zimbabwe', 'Minimum'): 2}

In [ ]:
res.head()

       country      type  value
0  Afghanistan  Advanced      0
1  Afghanistan   Minimum      0
2      Albania  Advanced      0
3      Albania   Minimum      0
4      Algeria  Advanced      0

In [ ]:
for index,row in res.iterrows():
  print((row[0],row[1]))
  if (row[0],row[1]) in temp:
    print('2')
    res.iloc[index,2]=temp[(row[0],row[1])]

('Afghanistan', 'Advanced')
2
('Afghanistan', 'Minimum')
2
('Albania', 'Advanced')
2
('Albania', 'Minimum')
2
('Algeria', 'Advanced')
('Algeria', 'Minimum')
('American Samoa', 'Advanced')
('American Samoa', 'Minimum')
('Andorra', 'Advanced')
2
('Andorra', 'Minimum')
2
('Angola', 'Advanced')
2
('Angola', 'Minimum')
2
('Anguilla', 'Advanced')
('Anguilla', 'Minimum')
('Antigua and Barbuda', 'Advanced')
('Antigua and Barbuda', 'Minimum')
('Argentina', 'Advanced')
2
('Argentina', 'Minimum')
2
('Armenia', 'Advanced')
('Armenia', 'Minimum')
('Aruba', 'Advanced')
('Aruba', 'Minimum')
('Australia', 'Advanced')
2
('Australia', 'Minimum')
2
('Austria', 'Advanced')
2
('Austria', 'Minimum')
2
('Azerbaijan', 'Advanced')
2
('Azerbaijan', 'Minimum')
2
('Bahamas', 'Advanced')
2
('Bahamas', 'Minimum')
2
('Bahrain', 'Advanced')
('Bahrain', 'Minimum')
('Bangladesh', 'Advanced')
2
('Bangladesh', 'Minimum')
2
('Barbados', 'Advanced')
2
('Barbados', 'Minimum')
2
('Belarus', 'Advanced')
('Belarus', 'Minimum')
('Belgium', 'Advanced')
2
('Belgium', 'Minimum')
2
('Belize', 'Advanced')
('Belize', 'Minimum')
('Benin', 'Advanced')
('Benin', 'Minimum')
('Bermuda', 'Advanced')
2
('Bermuda', 'Minimum')
2
('Bhutan', 'Advanced')
('Bhutan', 'Minimum')
('Bolivia (Plurinational State of)', 'Advanced')
('Bolivia (Plurinational State of)', 'Minimum')
('Bonaire, Sint Eustatius and Saba', 'Advanced')
('Bonaire, Sint Eustatius and Saba', 'Minimum')
('Bosnia and Herzegovina', 'Advanced')
('Bosnia and Herzegovina', 'Minimum')
('Botswana', 'Advanced')
2
('Botswana', 'Minimum')
2
('Brazil', 'Advanced')
2
('Brazil', 'Minimum')
2
('British Indian Ocean Territory', 'Advanced')
('British Indian Ocean Territory', 'Minimum')
('British Virgin Islands', 'Advanced')
('British Virgin Islands', 'Minimum')
('Brunei Darussalam', 'Advanced')
('Brunei Darussalam', 'Minimum')
('Bulgaria', 'Advanced')
2
('Bulgaria', 'Minimum')
2
('Burkina Faso', 'Advanced')
2
('Burkina Faso', 'Minimum')
2
('Burundi', 'Advanced')
2
('Burundi', 'Minimum')
2
('Cabo Verde', 'Advanced')
('Cabo Verde', 'Minimum')
('Cambodia', 'Advanced')
2
('Cambodia', 'Minimum')
2
('Cameroon', 'Advanced')
2
('Cameroon', 'Minimum')
2
('Canada', 'Advanced')
2
('Canada', 'Minimum')
2
('Cayman Islands', 'Advanced')
('Cayman Islands', 'Minimum')
('Central African Republic', 'Advanced')
('Central African Republic', 'Minimum')
('Chad', 'Advanced')
('Chad', 'Minimum')
('Channel Islands', 'Advanced')
('Channel Islands', 'Minimum')
('Chile', 'Advanced')
2
('Chile', 'Minimum')
2
('China', 'Advanced')
2
('China', 'Minimum')
2
('China, Hong Kong Special Administrative Region', 'Advanced')
('China, Hong Kong Special Administrative Region', 'Minimum')
('China, Macao Special Administrative Region', 'Advanced')
('China, Macao Special Administrative Region', 'Minimum')
('Christmas Island', 'Advanced')
('Christmas Island', 'Minimum')
('Cocos (Keeling) Islands', 'Advanced')
('Cocos (Keeling) Islands', 'Minimum')
('Colombia', 'Advanced')
2
('Colombia', 'Minimum')
2
('Comoros', 'Advanced')
('Comoros', 'Minimum')
('Congo', 'Advanced')
('Congo', 'Minimum')
('Cook Islands', 'Advanced')
('Cook Islands', 'Minimum')
('Costa Rica', 'Advanced')
2
('Costa Rica', 'Minimum')
2
('Croatia', 'Advanced')
2
('Croatia', 'Minimum')
2
('Cuba', 'Advanced')
('Cuba', 'Minimum')
('Curaçao', 'Advanced')
('Curaçao', 'Minimum')
('Cyprus', 'Advanced')
2
('Cyprus', 'Minimum')
2
('Czechia', 'Advanced')
('Czechia', 'Minimum')
("Côte d'Ivoire", 'Advanced')
("Côte d'Ivoire", 'Minimum')
("Democratic People's Republic of Korea", 'Advanced')
("Democratic People's Republic of Korea", 'Minimum')
('Democratic Republic of the Congo', 'Advanced')
('Democratic Republic of the Congo', 'Minimum')
('Denmark', 'Advanced')
2
('Denmark', 'Minimum')
2
('Djibouti', 'Advanced')
('Djibouti', 'Minimum')
('Dominica', 'Advanced')
('Dominica', 'Minimum')
('Dominican Republic', 'Advanced')
2
('Dominican Republic', 'Minimum')
2
('Ecuador', 'Advanced')
2
('Ecuador', 'Minimum')
2
('Egypt', 'Advanced')
2
('Egypt', 'Minimum')
2
('El Salvador', 'Advanced')
2
('El Salvador', 'Minimum')
2
('Equatorial Guinea', 'Advanced')
('Equatorial Guinea', 'Minimum')
('Eritrea', 'Advanced')
('Eritrea', 'Minimum')
('Estonia', 'Advanced')
2
('Estonia', 'Minimum')
2
('Ethiopia', 'Advanced')
2
('Ethiopia', 'Minimum')
2
('Falkland Islands (Malvinas)', 'Advanced')
('Falkland Islands (Malvinas)', 'Minimum')
('Faroe Islands', 'Advanced')
('Faroe Islands', 'Minimum')
('Fiji', 'Advanced')
2
('Fiji', 'Minimum')
2
('Finland', 'Advanced')
2
('Finland', 'Minimum')
2
('France', 'Advanced')
2
('France', 'Minimum')
2
('French Guiana', 'Advanced')
('French Guiana', 'Minimum')
('French Polynesia', 'Advanced')
('French Polynesia', 'Minimum')
('French Southern and Antarctic Territories', 'Advanced')
('French Southern and Antarctic Territories', 'Minimum')
('Gabon', 'Advanced')
('Gabon', 'Minimum')
('Gambia', 'Advanced')
2
('Gambia', 'Minimum')
2
('Georgia', 'Advanced')
2
('Georgia', 'Minimum')
2
('Germany', 'Advanced')
2
('Germany', 'Minimum')
2
('Ghana', 'Advanced')
2
('Ghana', 'Minimum')
2
('Gibraltar', 'Advanced')
('Gibraltar', 'Minimum')
('Greece', 'Advanced')
2
('Greece', 'Minimum')
2
('Greenland', 'Advanced')
('Greenland', 'Minimum')
('Grenada', 'Advanced')
('Grenada', 'Minimum')
('Guadeloupe', 'Advanced')
('Guadeloupe', 'Minimum')
('Guam', 'Advanced')
('Guam', 'Minimum')
('Guatemala', 'Advanced')
2
('Guatemala', 'Minimum')
2
('Guernsey', 'Advanced')
('Guernsey', 'Minimum')
('Guinea', 'Advanced')
('Guinea', 'Minimum')
('Guinea-Bissau', 'Advanced')
('Guinea-Bissau', 'Minimum')
('Guyana', 'Advanced')
('Guyana', 'Minimum')
('Haiti', 'Advanced')
('Haiti', 'Minimum')
('Heard Island and McDonald Islands', 'Advanced')
('Heard Island and McDonald Islands', 'Minimum')
('Holy See', 'Advanced')
('Holy See', 'Minimum')
('Honduras', 'Advanced')
2
('Honduras', 'Minimum')
2
('Hungary', 'Advanced')
2
('Hungary', 'Minimum')
2
('Iceland', 'Advanced')
2
('Iceland', 'Minimum')
2
('India', 'Advanced')
2
('India', 'Minimum')
2
('Indonesia', 'Advanced')
2
('Indonesia', 'Minimum')
2
('Iran (Islamic Republic of)', 'Advanced')
('Iran (Islamic Republic of)', 'Minimum')
('Iraq', 'Advanced')
2
('Iraq', 'Minimum')
2
('Ireland', 'Advanced')
2
('Ireland', 'Minimum')
2
('Isle of Man', 'Advanced')
('Isle of Man', 'Minimum')
('Israel', 'Advanced')
2
('Israel', 'Minimum')
2
('Italy', 'Advanced')
2
('Italy', 'Minimum')
2
('Jamaica', 'Advanced')
2
('Jamaica', 'Minimum')
2
('Japan', 'Advanced')
2
('Japan', 'Minimum')
2
('Jersey', 'Advanced')
2
('Jersey', 'Minimum')
2
('Jordan', 'Advanced')
2
('Jordan', 'Minimum')
2
('Kazakhstan', 'Advanced')
2
('Kazakhstan', 'Minimum')
2
('Kenya', 'Advanced')
2
('Kenya', 'Minimum')
2
('Kiribati', 'Advanced')
('Kiribati', 'Minimum')
('Kuwait', 'Advanced')
('Kuwait', 'Minimum')
('Kyrgyzstan', 'Advanced')
2
('Kyrgyzstan', 'Minimum')
2
("Lao People's Democratic Republic", 'Advanced')
("Lao People's Democratic Republic", 'Minimum')
('Latvia', 'Advanced')
2
('Latvia', 'Minimum')
2
('Lebanon', 'Advanced')
2
('Lebanon', 'Minimum')
2
('Lesotho', 'Advanced')
('Lesotho', 'Minimum')
('Liberia', 'Advanced')
('Liberia', 'Minimum')
('Libya', 'Advanced')
2
('Libya', 'Minimum')
2
('Liechtenstein', 'Advanced')
('Liechtenstein', 'Minimum')
('Lithuania', 'Advanced')
('Lithuania', 'Minimum')
('Luxembourg', 'Advanced')
2
('Luxembourg', 'Minimum')
2
('Madagascar', 'Advanced')
('Madagascar', 'Minimum')
('Malawi', 'Advanced')
2
('Malawi', 'Minimum')
2
('Malaysia', 'Advanced')
2
('Malaysia', 'Minimum')
2
('Maldives', 'Advanced')
2
('Maldives', 'Minimum')
2
('Mali', 'Advanced')
2
('Mali', 'Minimum')
2
('Malta', 'Advanced')
2
('Malta', 'Minimum')
2
('Marshall Islands', 'Advanced')
('Marshall Islands', 'Minimum')
('Martinique', 'Advanced')
('Martinique', 'Minimum')
('Mauritania', 'Advanced')
('Mauritania', 'Minimum')
('Mauritius', 'Advanced')
2
('Mauritius', 'Minimum')
2
('Mayotte', 'Advanced')
('Mayotte', 'Minimum')
('Mexico', 'Advanced')
2
('Mexico', 'Minimum')
2
('Micronesia (Federated States of)', 'Advanced')
('Micronesia (Federated States of)', 'Minimum')
('Monaco', 'Advanced')
('Monaco', 'Minimum')
('Mongolia', 'Advanced')
2
('Mongolia', 'Minimum')
2
('Montenegro', 'Advanced')
('Montenegro', 'Minimum')
('Montserrat', 'Advanced')
('Montserrat', 'Minimum')
('Morocco', 'Advanced')
2
('Morocco', 'Minimum')
2
('Mozambique', 'Advanced')
2
('Mozambique', 'Minimum')
2
('Myanmar', 'Advanced')
2
('Myanmar', 'Minimum')
2
('Namibia', 'Advanced')
2
('Namibia', 'Minimum')
2
('Nauru', 'Advanced')
('Nauru', 'Minimum')
('Nepal', 'Advanced')
2
('Nepal', 'Minimum')
2
('Netherlands', 'Advanced')
2
('Netherlands', 'Minimum')
2
('New Caledonia', 'Advanced')
('New Caledonia', 'Minimum')
('New Zealand', 'Advanced')
2
('New Zealand', 'Minimum')
2
('Nicaragua', 'Advanced')
2
('Nicaragua', 'Minimum')
2
('Niger', 'Advanced')
('Niger', 'Minimum')
('Nigeria', 'Advanced')
2
('Nigeria', 'Minimum')
2
('Niue', 'Advanced')
('Niue', 'Minimum')
('Norfolk Island', 'Advanced')
('Norfolk Island', 'Minimum')
('Northern Mariana Islands', 'Advanced')
('Northern Mariana Islands', 'Minimum')
('Norway', 'Advanced')
2
('Norway', 'Minimum')
2
('Oman', 'Advanced')
2
('Oman', 'Minimum')
2
('Pakistan', 'Advanced')
2
('Pakistan', 'Minimum')
2
('Palau', 'Advanced')
('Palau', 'Minimum')
('Panama', 'Advanced')
2
('Panama', 'Minimum')
2
('Papua New Guinea', 'Advanced')
2
('Papua New Guinea', 'Minimum')
2
('Paraguay', 'Advanced')
2
('Paraguay', 'Minimum')
2
('Peru', 'Advanced')
2
('Peru', 'Minimum')
2
('Philippines', 'Advanced')
2
('Philippines', 'Minimum')
2
('Pitcairn', 'Advanced')
('Pitcairn', 'Minimum')
('Poland', 'Advanced')
2
('Poland', 'Minimum')
2
('Portugal', 'Advanced')
2
('Portugal', 'Minimum')
2
('Puerto Rico', 'Advanced')
('Puerto Rico', 'Minimum')
('Qatar', 'Advanced')
2
('Qatar', 'Minimum')
2
('Republic of Korea', 'Advanced')
('Republic of Korea', 'Minimum')
('Republic of Moldova', 'Advanced')
('Republic of Moldova', 'Minimum')
('Romania', 'Advanced')
2
('Romania', 'Minimum')
2
('Russian Federation', 'Advanced')
2
('Russian Federation', 'Minimum')
2
('Rwanda', 'Advanced')
2
('Rwanda', 'Minimum')
2
('Réunion', 'Advanced')
('Réunion', 'Minimum')
('Saint Barthélemy', 'Advanced')
('Saint Barthélemy', 'Minimum')
('Saint Helena', 'Advanced')
('Saint Helena', 'Minimum')
('Saint Kitts and Nevis', 'Advanced')
('Saint Kitts and Nevis', 'Minimum')
('Saint Lucia', 'Advanced')
('Saint Lucia', 'Minimum')
('Saint Martin (French Part)', 'Advanced')
('Saint Martin (French Part)', 'Minimum')
('Saint Pierre and Miquelon', 'Advanced')
('Saint Pierre and Miquelon', 'Minimum')
('Saint Vincent and the Grenadines', 'Advanced')
('Saint Vincent and the Grenadines', 'Minimum')
('Samoa', 'Advanced')
('Samoa', 'Minimum')
('San Marino', 'Advanced')
('San Marino', 'Minimum')
('Sao Tome and Principe', 'Advanced')
('Sao Tome and Principe', 'Minimum')
('Saudi Arabia', 'Advanced')
2
('Saudi Arabia', 'Minimum')
2
('Senegal', 'Advanced')
2
('Senegal', 'Minimum')
2
('Serbia', 'Advanced')
2
('Serbia', 'Minimum')
2
('Seychelles', 'Advanced')
2
('Seychelles', 'Minimum')
2
('Sierra Leone', 'Advanced')
2
('Sierra Leone', 'Minimum')
2
('Singapore', 'Advanced')
2
('Singapore', 'Minimum')
2
('Sint Maarten (Dutch part)', 'Advanced')
('Sint Maarten (Dutch part)', 'Minimum')
('Slovakia', 'Advanced')
2
('Slovakia', 'Minimum')
2
('Slovenia', 'Advanced')
2
('Slovenia', 'Minimum')
2
('Solomon Islands', 'Advanced')
('Solomon Islands', 'Minimum')
('Somalia', 'Advanced')
2
('Somalia', 'Minimum')
2
('South Africa', 'Advanced')
2
('South Africa', 'Minimum')
2
('South Georgia and the South Sandwich Islands', 'Advanced')
('South Georgia and the South Sandwich Islands', 'Minimum')
('South Sudan', 'Advanced')
2
('South Sudan', 'Minimum')
2
('Spain', 'Advanced')
2
('Spain', 'Minimum')
2
('Sri Lanka', 'Advanced')
2
('Sri Lanka', 'Minimum')
2
('State of Palestine', 'Advanced')
('State of Palestine', 'Minimum')
('Sudan', 'Advanced')
('Sudan', 'Minimum')
('Suriname', 'Advanced')
('Suriname', 'Minimum')
('Svalbard and Jan Mayen Islands', 'Advanced')
('Svalbard and Jan Mayen Islands', 'Minimum')
('Swaziland', 'Advanced')
('Swaziland', 'Minimum')
('Sweden', 'Advanced')
2
('Sweden', 'Minimum')
2
('Switzerland', 'Advanced')
2
('Switzerland', 'Minimum')
2
('Syrian Arab Republic', 'Advanced')
2
('Syrian Arab Republic', 'Minimum')
2
('Tajikistan', 'Advanced')
('Tajikistan', 'Minimum')
('Thailand', 'Advanced')
2
('Thailand', 'Minimum')
2
('The former Yugoslav Republic of Macedonia', 'Advanced')
('The former Yugoslav Republic of Macedonia', 'Minimum')
('Timor-Leste', 'Advanced')
('Timor-Leste', 'Minimum')
('Togo', 'Advanced')
2
('Togo', 'Minimum')
2
('Tokelau', 'Advanced')
('Tokelau', 'Minimum')
('Tonga', 'Advanced')
('Tonga', 'Minimum')
('Trinidad and Tobago', 'Advanced')
('Trinidad and Tobago', 'Minimum')
('Tunisia', 'Advanced')
2
('Tunisia', 'Minimum')
2
('Turkey', 'Advanced')
2
('Turkey', 'Minimum')
2
('Turkmenistan', 'Advanced')
('Turkmenistan', 'Minimum')
('Turks and Caicos Islands', 'Advanced')
('Turks and Caicos Islands', 'Minimum')
('Tuvalu', 'Advanced')
('Tuvalu', 'Minimum')
('Uganda', 'Advanced')
2
('Uganda', 'Minimum')
2
('Ukraine', 'Advanced')
2
('Ukraine', 'Minimum')
2
('United Arab Emirates', 'Advanced')
2
('United Arab Emirates', 'Minimum')
2
('United Kingdom of Great Britain and Northern Ireland', 'Advanced')
('United Kingdom of Great Britain and Northern Ireland', 'Minimum')
('United Republic of Tanzania', 'Advanced')
('United Republic of Tanzania', 'Minimum')
('United States Virgin Islands', 'Advanced')
('United States Virgin Islands', 'Minimum')
('United States minor outlying islands', 'Advanced')
('United States minor outlying islands', 'Minimum')
('United States of America', 'Advanced')
('United States of America', 'Minimum')
('Uruguay', 'Advanced')
2
('Uruguay', 'Minimum')
2
('Uzbekistan', 'Advanced')
('Uzbekistan', 'Minimum')
('Vanuatu', 'Advanced')
('Vanuatu', 'Minimum')
('Venezuela (Bolivarian Republic of)', 'Advanced')
('Venezuela (Bolivarian Republic of)', 'Minimum')
('Viet Nam', 'Advanced')
2
('Viet Nam', 'Minimum')
2
('Wallis and Futuna Islands', 'Advanced')
('Wallis and Futuna Islands', 'Minimum')
('Western Sahara', 'Advanced')
('Western Sahara', 'Minimum')
('Yemen', 'Advanced')
2
('Yemen', 'Minimum')
2
('Zambia', 'Advanced')
2
('Zambia', 'Minimum')
2
('Zimbabwe', 'Advanced')
2
('Zimbabwe', 'Minimum')
2
('Åland Islands', 'Advanced')
('Åland Islands', 'Minimum')

In [ ]:
res.head()

       country      type  value
0  Afghanistan  Advanced      0
1  Afghanistan   Minimum      0
2      Albania  Advanced      0
3      Albania   Minimum      1
4      Algeria  Advanced      0

In [ ]:
res.value.nunique()

28

In [ ]:
res.to_csv('/content/drive/MyDrive/global_ai/task2/tow_step_full_country_version2.csv')